<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".lab1_2.Main2Activity" />
        <activity android:name=".lab1_1.MainActivity" />
        <activity android:name=".lab2_1.Main2_1_Activity">
        </activity>
        <activity
            android:name=".lab2_1.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".lab2_1.ShopingActivity"></activity>

        <activity android:name=".lab4_1.MainActivity">


        </activity>
        <activity android:name=".lab4_2.DetailActivity"></activity>
        <activity android:name=".lab4_2.ShoppingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>